
.main{background-color: #6A94D4; position: absolute; text-align: center; vertical-align: center;font-family: 'Ubuntu', sans-serif; width: 800px;  padding-top: 60px; padding-bottom: 10px; }

.header{background-color: #052F6D; color: white;font-family: 'Ubuntu', sans-serif; position: fixed; z-index: 100; top: 0px; left: 0px; margin: 0; padding: 0; width:100%; height: 50px; float:top; 
-webkit-box-shadow: 0 0px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 0px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4); -o-box-shadow: 0 0px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4); box-shadow: 0 0px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4); }

.body{background-color: #6A94D4; font-family: 'Ubuntu', sans-serif; text-align: center; }

.imagetextbox{background-color: grey;-moz-border-radius: 15px; border-radius: 5px; width: 100px; z-index: 90; position: inherit; top: 10px; left: 60px; filter: 
								alpha(opacity=40);  
        -moz-opacity: 0.4;  
        -khtml-opacity: 0.4;  
        opacity: 0.4; }
.imagetext{margin-left: 5px; margin-right: 5px;}

h1.announcmentheader{ font-family: 'Ubuntu', sans-serif; text-align: center;}

.announcmentbox{background-color: #437DD4; position: relative; left: 10px ;width: 750px; padding: 1px; padding-left: 15px; padding-right: 15px; font-family: 'Ubuntu', sans-serif; text-align: left; font-size: 14px; -moz-border-radius: 5px; border-radius: 5px;
 -webkit-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4); -o-box-shadow: 0 -1px 0 #5b5b5b inset, 0 5px 15px rgba(0, 0, 0, 0.4); box-shadow: 0 -1px 0 #CC0DFF inset, 0 5px 15px rgba(0, 0, 0, 0.4); }

.accordionposition{ position: relative; left: 10px}

.eyecandy{width: 100%;height: 550px;background-color: white;}

.fancypicture{position: absolute;right: 0;}

.imagetext{position:absolute; top: 150px; left: 50px;;z-index: 100}

.imagetextheader{font-weight: 30; font: bold;}
